.redText {
  color: var(--text-color-red);
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  display: flex;
  background-color: var(--color-main-black);
  width: 80vw;
  max-width: 1280px;
  padding: 0.8rem;
  border-radius: var(--border-radius-field);
  column-gap: 3rem;
}
.hero img {
  width: 55%;
  border-radius: var(--border-radius-field);
}
.heroRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  row-gap: 2rem;
}
.heroRight h2 {
  font-size: var(--dekstop-h2-size);
}
.heroRight p {
  font-size: var(--dekstop-text-l-size);
}
.button {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Tablet */
@media screen and (max-width: 769px) {
  .hero {
    column-gap: 5vw;
  }
  .heroRight h2 {
    font-size: var(--tablet-h2-size);
  }
  .heroRight p {
    font-size: 1rem;
  }
  .hero img {
    object-fit: cover;
  }
}
/* Mobile */
@media screen and (max-width: 481px) {
  .hero {
    flex-direction: column;
    row-gap: 1rem;
  }
  .hero img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  .heroRight h2 {
    font-size: var(--mobile-h2-size);
  }
  .heroRight p {
    font-size: 0.85em;
  }
  .button {
    width: 100%;
  }
}
