.container {
  display: flex;
  justify-content: center;
}
.hero {
  min-height: 50vh;
  display: inline-block;
  column-count: 2;
  align-items: left;
  justify-content: center;
  text-align: left;
  color: var(--text-color-white);
  box-shadow: 0 0 1px 0 var(--color-main-black);
  width: 80vw;
  max-width: 1280px;
  color: var(--color-main-white);
  border-radius: var(--border-radius-field) var(--border-radius-field) 0 0;
  padding: 10rem 3rem 3rem 3rem;
}

.hero p {
  color: #8A8A8A;
  font-size: var(--dekstop-text-m-size);
}

.hero h1 {
  font-size: var(--dekstop-subs1-size);
  color: black;
  font-weight: bold;
}
.headline h1 {
  font-size: var(--dekstop-subs2-size);
}

.icon {
  color: #8A8A8A;
  font-size:1em;
  display: inline-block;
}

.arrowIcon {
  background-color: var(--color-main-red);
  font-size:1em;
}

.info {
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  color: white;
} 


.detail {
  display: inline-block;
  column-count: 2;
  justify-content: center;
  color: white;
}

.edit{
  display: inline-block;
  column-count: 2;
}

.inline {
  display: inline-block;
  column-count: 2;
  column-gap: 1rem;
}

.available {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: 0 0 10px 350px;
  color: var(--color-main-red);
  font-weight: 600;
  border: 1px solid var(--color-main-red);
  border-radius: 40px;
}

.image {
  border-radius: 50%;
}

.completeness {
  display: inline-block;
  justify-content: center;
  color: white;
  box-shadow: 0 0 1px 0 var(--color-main-black);
  height: 13em;
  border-radius: 12px;
}

.completeness h1 {
  font-size: var(--dekstop-subs2-size);
}

.header {
  color: black;
  font-size: var(--dekstop-subs2-size);
  font-weight: bold;
  box-shadow: 0 0 1px 0 var(--color-main-black);
  padding: 10px;
  border-radius: 12px 12px 0 0;
}

.box {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-color: transparent;
  border: 2px solid #dddddd;
  border-radius: 12px;
  padding: 5px;
  background: linear-gradient(to right, var(--color-main-red) 16%, #D7D7D7 16%);
}

.add {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-color: transparent;
  border: 2px solid #dddddd;
  border-radius: 12px;
  padding: 1vw;
  margin: 1vw;
}

.linkLogoSagara {
  position: relative;
  top: 15vh;
}

