.content {
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    top: 10vh;
  }
  
  .form {
    position: relative;
    top: 15vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
  }
  
  .title {
    font-size: 32px;
    color:#171611;
    font-weight: bolder;
    padding: 10px;
    margin: 20px 0 20px 0;
  }
  
  .input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
  }

  .fullName {
    display: flex;
    justify-content: space-evenly;
  }

  .inputHalf {
    width: 49%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
  }
  
  .inputPassword i {
    position: absolute;
    margin-top: 10px;
    margin-left: 430px;
    color: #D9D9D9;
  }
  
  .forgot {
    display: block;
    color: #171611;
    text-align: right;
    margin-bottom: 30px;
  }
  
  .or {
    border-bottom: 0.5px solid #8A8A8A; 
    line-height: 0.1em;
    margin-bottom: 30px;
  }
  
  .or span {
    font-size: 16px;
    color: #8A8A8A;
    background:#ffffff; 
    padding:0 10px; 
  }
  
  .button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #D7D7D7D7;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .redButton {
    padding: 10px;
    background: #DB0A2D;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .whiteButton {
    padding: 10px;
    background: white;
    font-weight: 600;
    color: black;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .continue {
    padding: 10px;
    font-weight: bold;
    width: 100%;
    background: white;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #dddddd;
    margin-bottom: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
  }
  
  .continueIcon {
    margin-right: 10px;
  }
  
  .signup {
    margin: 30px 0 30px 0;
  }
  
  .link {
    color: #DB0A2D;
    font-weight: 600;
  }
  
  .pickOccupation {
    display: flex;
    justify-content: center;
  }

  .box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border: 2px solid #dddddd;
    border-radius: 12px;
    padding: 20px;
  }

  input[type='radio'] {
    accent-color: #DB0A2D;
}
