.container {
  display: flex;
  justify-content: center;
}
.hero {
  display: inline-block;
  column-count: 2;
  justify-content: center;
  text-align: left;
  color: var(--text-color-white);
  box-shadow: 0 0 1px 0 var(--color-main-black);
  width: 80vw;
  max-width: 1280px;
  color: var(--color-main-white);
  border-radius: var(--border-radius-field) var(--border-radius-field) 0 0;
  padding: 5rem 3rem 3rem 3rem;
}
.hero p {
  color: #8A8A8A;
  font-size: var(--dekstop-text-m-size);
}
.hero h1 {
  font-size: var(--dekstop-subs1-size);
  color: black;
  font-weight: bold;
}
.headline h1 {
  font-size: var(--dekstop-subs2-size);
}

.info {
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  color: white;
} 

.detail {
  display: inline-block;
  column-count: 2;
  justify-content: center;
  color: white;
}

.image {
  border-radius: 50%;
}

.completeness h1 {
  font-size: var(--dekstop-text-l-size);
}