.container {
  min-height: 100vh;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../../assets/backgroundLandingPage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 4rem;
  color: var(--text-color-white);
}
.heroUpper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.hero h1 {
  font-size: var(--dekstop-h1-size);
}
.hero p {
  font-size: var(--dekstop-text-l-size);
}

.buttons {
  display: flex;
  column-gap: 3rem;
}

.linkLogoSagara {
  position: relative;
  top: 15vh;
}
.logoSagara {
  max-width: 392px;
  width: 80vw;
}
/* Tablet */
@media screen and (max-width: 769px) {
  .hero h1{
    font-size: var(--tablet-h1-size);
  }
  .hero p{
    font-size: 1rem;
  }
}
/* Mobile */
@media screen and (max-width: 481px) {
  .hero h1 {
    font-size: var(--mobile-h1-size);
  }
  .hero p {
    font-size: 0.85rem;
  }
  .buttons {
    flex-direction: column;
    width: 40vw;
    row-gap: 1rem;
  }
  .buttons p {
    font-size: 0.85em;
  }
}
