
.container {
  box-shadow: 0 0 1px 0 var(--color-main-black);
  margin: 0 10vw 0 10vw;
}

.title {
  font-size: var(--dekstop-subs2-size);
  font-weight: bold;
}

.categories {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  column-gap: 1rem;
  height: 45px;
  border-bottom: 1px solid var(--color-font-disabled);
}
.categories button{
  width: fit-content;
  padding: 5px;
}
.category {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 8%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.category p {
  font-size: var(--dekstop-text-l-size);
  color: var(--color-main-black);
  font-weight: 500;
}

.categoryUsed {
  background-color: var(--color-main-red);
}
.categoryUsed p {
  color: var(--color-main-white);
}


/* Tablet */
@media screen and (max-width: 769px) {
  .hero {
    column-gap: 5vw;
  }
  .heroRight h2 {
    font-size: var(--tablet-h2-size);
  }
  .heroRight p {
    font-size: 1rem;
  }
  .hero img {
    object-fit: cover;
  }
}
/* Mobile */
@media screen and (max-width: 481px) {
  .hero {
    flex-direction: column;
    row-gap: 1rem;
  }
  .button {
    width: 100%;
  }
}
