.logo__img {
  width: 100px;
}

/* Layout */
.bgContainer {
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;
}
.container {
  height: 65.2px;
  max-width: 1280px;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.underline {
  border-bottom: 2px solid var(--strokes-color);
}

.left {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

.NavLinkLeft,
.NavLinkRight,
.NavLinkLeftWhite,
.NavLinkRightWhite {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.right {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

/* Coloring */

.NavLinkLeft,
.NavLinkRight {
  color: var(--text-color-primary);
  text-decoration: none;
}

/* .NavLinkRight:last-child,
.NavLinkRightWhite:last-child {
  border-radius: var(--border-radius-button);
  padding: 0.7em 1.5em;
  background-color: var(--color-main-red);
  color: white;
  font-weight: 400;
} */
.NavLinkRight:nth-child(3),
.NavLinkRightWhite:nth-child(3) {
  border-radius: var(--border-radius-button);
  padding: 0.7em 1.5em;
  background-color: var(--color-main-red);
  color: white;
  font-weight: 400;
}

.bgWhite {
  --text-color-white: black;
  background-color: var(--color-main-white);
}
.bgScrolled {
  --text-color-white: black;
  background-color: var(--color-main-white);
  transition: background-color 0.5s ease-out;
}
.searchBar {
  color: white;
}
.displayNone {
  display: none;
}

/* LandingPage Version */
.NavLinkLeftWhite,
.NavLinkRightWhite {
  color: var(--text-color-white);
}

.burgerMenu {
  display: none;
}
.iconBurger {
  font-size: 2em;
  color: var(--color-main-black);
}
/* Ipads */
.test {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem 2.5vw;
  transition: all 0.5s ease;
  position: absolute;
  top: -275%;
  z-index: 9;
  border-bottom: 2px solid var(--strokes-color);
}
.active {
  position: relative;
  display: flex;
  transition: all 0.5s ease;
  position: absolute;
  top: 65.2px;
  z-index: 9;
}
.NavLinkAllWhiteMobile,
.NavLinkAllMobile {
  text-decoration: none;
  color: var(--color-main-black);
  font-size: 16px;
  font-weight: 600;
}
.NavLinkAllMobile:hover,
.NavLinkAllWhiteMobile:hover {
  color: var(--color-hover-button);
}
@media screen and (max-width: 769px) {
  .NavLinkLeft,
  .NavLinkRight,
  .NavLinkLeftWhite,
  .NavLinkRightWhite,
  .underline {
    display: none;
  }
  .burgerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 100vw;
    padding: 0 2.5vw;
    background-color: var(--color-main-white);
    position: relative;
    z-index: 10;
    border-bottom: 2px solid var(--strokes-color);
  }
}
.isActive {
  color: var(--color-main-red);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
