.logo__img {
  width: 100px;
}

/* Layout */
.bgContainer {
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;
}
.container {
  height: 10vh;
  max-width: 1280px;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.underline {
  border-bottom: 2px solid var(--strokes-color);
}

.left {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

.NavLinkLeft,
.NavLinkRight,
.NavLinkLeftWhite,
.NavLinkRightWhite {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.right {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

/* Coloring */

.NavLinkLeft,
.NavLinkRight {
  color: var(--text-color-primary);
  text-decoration: none;
}

.NavLinkRight:last-child,
.NavLinkRightWhite:last-child {
  border-radius: var(--border-radius-button);
  padding: 0.7em 1.5em;
  background-color: var(--color-main-red);
  color: white;
  font-weight: 400;
}

.bgWhite {
  --text-color-white: black;
  background-color: var(--color-main-white);
}
.bgScrolled {
  --text-color-white: black;
  background-color: var(--color-main-white);
  transition: background-color 0.5s ease-out;
}

/* LandingPage Version */
.NavLinkLeftWhite,
.NavLinkRightWhite {
  color: var(--text-color-white);
}
