.redText {
  color: var(--text-color-red);
}
.container {
  min-height: 100vh;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../../assets/bgHero3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  width: 80vw;
  max-width: 1280px;
  column-gap: 5rem;
}
.heroLeft {
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  row-gap: 2rem;
}

.heroLeft h2 {
  font-size: var(--dekstop-h2-size);
}
.heroLeft p {
  font-size: var(--dekstop-text-l-size);
}

.heroRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 2rem;
}

.bgBlackSkill {
  background-color: var(--color-main-black);
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  border-radius: var(--border-radius-field);
}
.bgRedSkill {
  background-color: var(--color-main-red);
  border-radius: var(--border-radius-field);
  padding: 2rem;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skill h4 {
  font-size: var(--dekstop-subs1-size);

  font-weight: 600;
}
.bgArrow {
  background-color: var(--color-main-black);
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  border-radius: var(--border-radius-checkbox);
  display: flex;
  align-items: center;
}
.arrowRight {
  font-size: 2rem;
}
/* Laptop */
@media screen and (max-width: 1024px){
  
}
/* Tablet */
@media screen and (max-width: 769px) {
  .hero {
    column-gap: 1rem;
  }
  .heroLeft h2 {
    font-size: var(--tablet-h2-size);
  }
  .heroLeft p {
    font-size: 1rem;
  }
  .skill h4 {
    font-size: var(--tablet-subs1-size);
  }
  .arrowRight {
    font-size: 1.2rem;
  }
  .bgBlackSkill{
    max-width: 300px;
    width: 40vw;
  }
  .bgRedSkill {
    padding: 2vh 3vw;
  }
}
/* Mobile */
@media screen and (max-width: 481px) {
  .hero {
    flex-direction: column;
    row-gap: 1.8rem;
  }
  .heroLeft {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .heroLeft h2 {
    font-size: var(--mobile-h2-size);
  }
  .heroLeft p {
    font-size: 0.85em;
  }
  .heroRight {
    max-width: 280px;
    width: 70vw;
    row-gap: 1rem;
  }
  .bgBlackSkill {
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    width: 100%;
  }
  .bgRedSkill {
    padding: 1vh 1vw;
  }
  .skill h4 {
    font-size: var(--mobile-subs1-size);
  }
  .bgArrow {
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  }
  .arrowRight {
    font-size: 1rem;
  }
}
