.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 90%;
}
.slider div {
  display: flex;
  align-items: center;
}
.slider div img {
  max-width: 120px;
  width: 20vw;
  margin: auto;
}
.buttonContainer {
  background-color: var(--color-main-black);
  max-width: 60px;
  width: 4vw;
  border-radius: var(--border-radius-field);
  cursor: pointer;
  display: flex;
}
.icon {
  color: var(--color-main-white);
  font-size: 2.5em;
}

.right {
  justify-content: flex-end;
}
@media screen and (max-width: 601px) {
  .buttonContainer {
    display: none;
  }
}
