:root {
  --text-color-red: #db0a2d;
  --strokes-color: #d7d7d7;
  --text-color-primary: #171611;
  --text-color-white: #ffffff;
  --color-main-red: #db0a2d;
  --color-main-white: #fff;
  --color-hover-button: #a5041f;
  --color-main-black: #171611;
  --color-font-disabled: #8a8a8a;
  --text-text-secondary: #5C5C5C;
}
