:root {
  --dekstop-h1-size: 56px;
  --dekstop-text-l-size: 18px;
  --dekstop-h2-size: 48px;
  --dekstop-subs1-size:32px;
  --dekstop-subs2-size:24px;
  --dekstop-text-m-size:16px;
  --dekstop-text-s-size:14px;
  --mobile-h1-size:32px;
  --mobile-h2-size:28px;
  --mobile-subs1-size:22px;
  --mobile-subs2-size:20px;
  --tablet-h1-size:48px;
  --tablet-h2-size:40px;
  --tablet-subs1-size:24px;
  --tablet-subs2-size:20px;
}
